.app {
  height: 100vh;
  display: flex;
  background-color: #23235c;
  color: white;
}

.main {
  width: 75%;
  background-image: url("../assets/bg-texture.png");
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;
}
.bottom {
  height: 50%;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.moneyAmount {
  font-size: 20px;
  font-weight: 300;
}
