:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.app {
  height: 100vh; /*for fullscreen, if disable then it will not*/
  display: flex; /*for alongside*/
  background-color: #191919;
  color: white;
}

.main {
  /* 3unit of app */

  width: 75%;
  background-image: url("./assets/bg-texture.png");
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  font-size: 150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.bottom {
  height: 100%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.question {
  width: 80%;
  background-color: #c84b31;
  border: 2px solid white;
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  background-color: #2d4263;
  width: 40%;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: #c84b31;
  transition: all 200ms ease;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: #c84b31;
  }
  20%,
  40%,
  60% {
    background: #2d4263;
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: #c84b31;
  }
  20%,
  40%,
  60% {
    background: #2d4263;
  }
  62%,
  100% {
    background: red;
  }
}

.next {
  width: 10%;
  height: 10%;
  border: 3px transparent white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.next.active {
  background-color: #c84b31;
  width: 20%;
  height: 5%;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100;
  cursor: pointer;
}

.next.active:hover {
  background: transparent;
  transition: all 400ms ease;
}

.pyramid {
  /* 1unit of app */
  width: 25%;
  background-color: #2d4263;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  justify-content: center;
}

.moneyListItem.active {
  background-color: #c84b31;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 10%;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.celeb {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.result {
  margin-top: 30px;
  background-color: black;
  border: 2px solid white;
  padding: 0 50px 0 50px;
  padding: 0 50px 0 50px;
  border-radius: 50px;
  font-size: 40px;
}

.imagee {
  border: 2px solid rgb(54, 38, 38);
  border-radius: 50px;
}

.start {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.resetGame {
  background-color: #c84b31;
  transition: all 200ms ease;
  padding: 10px;
  font-weight: bolder;
  margin: 30px;
  border-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
}
.resetGame:hover {
  background: transparent;
}

/* ======================Media Queries(Small Devices)==================================== */
@media screen and (max-width: 600px) {
}
