:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
.titleSquezze {
  position: relative;
  /* background-color: red; */
  /* position: fixed; */
  font-size: 100px;
  margin-top: -100;
  color: yellow;
}

.app {
  height: 100vh; /*for fullscreen, if disable then it will not*/
  display: flex; /*for alongside*/
  background-color: #191919;
  color: white;
  background-image: url("./assets/bg-texture.png");
  /* transition: all 400ms ease; */
}

.main {
  /* 3unit of app */

  width: 75%;
  background-image: url("./assets/bg-texture.png");
  display: flex;
  flex-direction: column;
}
.logoo {
  width: 200px;
  /* margin-top: -100px; */
  padding: 80px;
}
.top {
  height: 50%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}
.timer {
  font-size: 150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.bottom {
  height: 100%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.question {
  width: 80%;
  background-color: #c84b31;
  border: 2px solid white;
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
}

.answers {
  transition: all 400ms ease;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  background-color: #2d4263;
  width: 40%;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  margin: 0 10px 20px 10px;
  cursor: pointer;
  color: white;
}

.answer:hover,
.answer.active {
  background: #c84b31;
  transition: all 200ms ease;
}

.answer.correct {
  font-weight: 600;
  color: black;
  animation: correct 3s ease forwards;
}

#nextButton {
  transition: all 200ms ease;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: #c84b31;
  }
  20%,
  40%,
  60% {
    background: #2d4263;
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: #c84b31;
  }
  20%,
  40%,
  60% {
    background: #2d4263;
  }
  62%,
  100% {
    background: red;
  }
}

.next {
  width: 10%;
  height: 10%;
  border: 3px transparent white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.next.active {
  background-color: #c84b31;
  width: 20%;
  height: 5%;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.next.active:hover {
  background: transparent;
  transition: all 400ms ease;
}

.pyramid {
  /* 1unit of app */
  width: 25%;
  background-color: #2d4263;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  justify-content: center;
}

.moneyListItem.active {
  transition: all 200ms ease;
  background-color: #c84b31;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  color: white;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.celeb {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.result {
  margin-top: 30px;
  background-color: rgb(7, 1, 18);
  border: 4px solid rgb(255, 255, 255);
  padding: 0 50px 0 50px;
  padding: 0 50px 0 50px;
  border-radius: 50px;
  font-size: 40px;
  color: #ffffff;
}
.resultbye {
  margin-top: 30px;
  background-color: rgb(7, 1, 18);
  border: 4px solid rgb(255, 255, 255);
  padding: 0 50px 0 50px;
  padding: 0 50px 0 50px;
  border-radius: 50px;
  font-size: 40px;
  color: #ffffff;
}

.bye {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 auto 0;
  transition: all 400ms ease;
}
.imagee {
  width: 600px;
  height: 600px;
}

.imageeCel {
  border-radius: 30px;
}

.start {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;

  gap: 10px;
}

.startInput {
  width: 500px;
  height: 100px;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid white;
}

.resetGame {
  background-color: #c84b31;
  transition: all 200ms ease;
  padding: 10px;
  font-weight: bolder;
  margin: 30px;
  border-radius: 30px;
  border: 3px solid white;
  cursor: pointer;
}
.resetGame:hover {
  background: transparent;
}

.startButton:hover {
  background: transparent;

  color: white;
  transition: all 200ms ease;
}

/* ======================Media Queries(Small Devices)==================================== */
@media screen and (max-width: 600px) {
  .start {
    align-items: center;
    justify-content: center;
    margin-top: 270px;
  }
  .titleSquezze {
    font-size: 70px;
  }
  .startInput {
    width: auto;
    height: auto;
  }
  .startButton {
    font-size: 15px;
    width: auto;
    height: auto;
  }
  .main {
    width: 100%;
  }
  .pyramid {
    position: absolute;
    width: 0%;
    opacity: 0;
    visibility: hidden;
  }
  .timer {
    font-size: 100px;
    height: 200px;
    width: 200px;
  }
  .top {
    height: 30%;
    margin-top: 10px;
  }
  .question {
    font-size: 15px;
    font-weight: bolder;
    height: auto;
    padding: 15px;
    margin-top: -50px;
  }
  .answers {
    margin-top: -30px;
  }
  .answer {
    font-size: 15px;
    font-weight: 400;
    /* width: auto; */
  }
  .next {
    margin-top: -50px;
    margin-bottom: 20px;
  }
  .message {
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
  }
  .result {
    border: 2px solid white;
    text-align: center;
    justify-content: center;
    padding: auto;
    width: 70%;
    height: 5%;
  }
  .resetGame {
    border: 2px solid white;
    margin: 20px;
    font-size: 15px;
    padding: 5 20 5 20;
  }
  .messagebye {
    font-size: 25px;
  }
}

.m {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: auto;
}
